<%- include('header') %>

  <div class="container text-center mt-5">
    <h1>Welcome to RoboPetCare!</h1>
    <p>Where AI meets Pet Care.</p>
    <img src="robot.jpg" class="img-fluid mb-2" />
    <a href="services.html" class="btn btn-primary">Explore Services</a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>